@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Dark shades */
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #aaaaaa;

  /* Light shades */
  --color-light-100: #ffffff;
  --color-light-200: #f5f5f5;
  --color-light-300: #e5e5e5;
  --color-light-400: #cccccc;

  /* Supporting colors */
  --color-green: #007d48;
  --color-red: #d33918;
  --color-orange: #d37918;

  /* Font family */
  --font-jost: "Jost", sans-serif;

  /* Heading sizes */
  --text-heading-1: 72px;
  --text-heading-1--line-height: 78px;
  --text-heading-1--font-weight: 700;

  --text-heading-2: 56px;
  --text-heading-2--line-height: 60px;
  --text-heading-2--font-weight: 700;

  --text-heading-3: 24px;
  --text-heading-3--line-height: 30px;
  --text-heading-3--font-weight: 500;

  /* Lead */
  --text-lead: 20px;
  --text-lead--line-height: 28px;
  --text-lead--font-weight: 500;

  /* Body */
  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;
  --text-body-medium--font-weight: 500;

  /* Caption */
  --text-caption: 14px;
  --text-caption--line-height: 20px;
  --text-caption--font-weight: 500;

  /* Footnote */
  --text-footnote: 12px;
  --text-footnote--line-height: 18px;
  --text-footnote--font-weight: 400;
}

@theme inline {
  --color-hightlight-light: #DADBF8;
  --color-accent-light: #D9EAE3;
  --color-primary-light: #FFCFE1;
  --color-secondary-light: #FFFCE5;
  --color-primary: #FF0F67;
  --color-primary-content: #fff;
  --color-secondary: #FFF07C;
  --color-secondary-content: #0A0A0A;
  --color-accent: #439775;
  --color-accent-content: #0A0A0A;
  --color-neutral: #222222;
  --color-neutral-content: #FFFFFF;
  --color-base-100: #f0f0f0;
  --color-base-200: #ffffff;
  --color-base-300: #F2F2F2;
  --color-base-content: #0A0A0A;
  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;
  --color-highlight: #454ADE;
  --color-muted: #777777;
  --font-sans: var(----font-sans);
  --font-display: var(----font-display);
  --color-color-muted: var(----color-muted);
  --color-color-highlight: var(----color-highlight);
  --color-color-error: var(----color-error);
  --color-color-warning: var(----color-warning);
  --color-color-success: var(----color-success);
  --color-color-info: var(----color-info);
  --color-color-base-content: var(----color-base-content);
  --color-color-base-300: var(----color-base-300);
  --color-color-base-200: var(----color-base-200);
  --color-color-base-100: var(----color-base-100);
  --color-color-neutral-content: var(----color-neutral-content);
  --color-color-neutral: var(----color-neutral);
  --color-color-accent-content: var(----color-accent-content);
  --color-color-accent: var(----color-accent);
  --color-color-secondary-content: var(----color-secondary-content);
  --color-color-secondary: var(----color-secondary);
  --color-color-primary-content: var(----color-primary-content);
  --color-color-primary: var(----color-primary);
  --color-color-secondary-light: var(----color-secondary-light);
  --color-color-primary-light: var(----color-primary-light);
  --color-color-accent-light: var(----color-accent-light);
  --color-color-hightlight-light: var(----color-hightlight-light);
}

:root {
  --font-display: 'Outfit', sans-serif;
  --font-sans: 'Inter Tight', sans-serif;
}

@layer base {
  * {
    @apply border-light-300;
  }
  body {
    @apply bg-light-100 text-dark-900;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}